configuration{
    modi: "run,window,combi,calc";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰞷 ";
    display-window: " 󰹟 ";
    display-combi: "  ";
    display-calc: "  ";
    sidebar-mode: true;
}

@theme "tokyo-night"
