# Set my envs
export PATH=$PATH:~/.local/bin

# pnpm
export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"
export EDITOR=nvim
export SUDO_EDITOR=$EDITOR

# Devices
export ELGATO_LIGHTS=192.168.15.x:9123,192.168.15.x:9123

# AI Providers
export OPENROUTER_API_KEY=sk-or-xxx
# export ANTHROPIC_API_KEY=sk-ant-xxx
# export ANTHROPIC_MODEL=claude-opus-4-5
# export OPENAI_API_KEY=sk-proj-xxx
# export TAVILY_API_KEY=tvly-xxx
# export MORPH_API_KEY=sk-xxx

# OpenCode
export OPENCODE_EXPERIMENTAL_MARKDOWN=1

# MCP Servers
export GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_xxx
