configuration{
    modi: "run,window,drun,combi,calc,emoji";
    combi-modi: "window,drun,run,calc,emoji";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰞷 ";
    display-run: " 󱓞 ";
    display-window: " 󰹟 ";
    display-combi: "  ";
    display-calc: "  ";
    display-emoji: " 󰞅 ";
    sidebar-mode: true;
}

@theme "theme"
